/* ==========================================================================
   ABOUT US
   ========================================================================== */

#about {
  @include section;
  @include title;

	.left {
		text-align: right;
	}

	.right {
  	text-align: left;
	}

}

.offices { 
	img {
		width: 100%;
		height: auto;
		@include grayscale;
	}
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media (max-width: $screen-sm-min) { 
	#about {
		
		.left {
			text-align: center;
		}

		.right {
	  	text-align: center;
		}
	}
}