/* ==========================================================================
   NAVIGATION
	 ========================================================================== */

.logo {
	margin-top: 10px;
	width: 110px;
	height: 30px;
	background-image: url('../img/logo.png');
	background-image: url('../img/logo.svg');
	background-repeat: no-repeat;
}

.navbar {
	background: $bg-color;
	padding: 10px 0 0;
}

.container .navbar-header {
	margin-left: 15px;
}

.navbar-right li a {
	font-size: 1.25em;
	color: $text-color;

	&:hover,
	&:focus {
		color: darken($secondary-color, 20%);
		background-color: transparent;
	}
}

.navbar-toggle {
	.menu {
		position: absolute;
		left: -45px;
		font-size: 1.1em;
		line-height: 1.1em;
	}

	.icon-bar {
		width: 40px;
		margin-bottom: 5px;
		border-radius: 0;
		background-color: $primary-color;
	}
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

@media (max-width: #{$screen-sm-custom}) {
	.navbar-nav {
		margin-bottom: 0;
	}
	
	.container .navbar-header {
		margin-left: 0;
	}

	.navbar-right li {
		border-bottom: 1px solid rgba($primary-color, .4);

		&:last-child {
			border-bottom: none;
		}

		a {
			background-color: $bg-color;
	  	line-height: 1.8em;
			font-size: 1.1em;
		}
	}
}